.container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: red;
}

.rowDiv {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: green;
}

.columnDiv {
    border-style: solid;
    border-color: yellow;
}

